pdfminer-six
openai
langchain
tiktoken
langchain==0.0.177
openai==0.27.7
python-dotenv==1.0.0
streamlit==1.22.0
streamlit-chat==0.0.2.2
uvicorn
fastapi
mysql-connector-python
streamlit_chat
sentence-transformers==2.2.2
pinecone-client==2.2.1
wandb==0.15.8
PyPDF2
python-multipart
